*
  box-sizing border-box

@import 'materialize.css'

nav
  padding 0 .75rem

.one-third-opacity
  opacity .5
  
.flex-container
  display flex
  flex-wrap wrap
  .col
    width calc(33% - 40px)
    margin 20px
    
.flex-center
  width 100%
  display flex
  justify-content center
  align-items center
  
.flex-between
  width 100%
  display flex
  justify-content space-between
  align-items center
  * 
    margin 0 20px
  
.btn-floating .material-icons
  display flex
  justify-content center
  align-items center
  width initial

.action
  pointer cursor