*
  box-sizing border-box

@import 'normalize.css'
@import 'materialize.css'

nav
  padding 0 .75rem

.one-third-opacity
  opacity .5
  
.flex-container
  display flex
  flex-wrap wrap
  .col
    width calc(33% - 40px)
    margin 20px
    // transition all .1s ease-in-out
    // &:hover
    //   transform scale(1.025)
    //   box-shadow 0px 0px 18px 0px rgba(0,0,0,0.75)
  // .card
  //   margin 0
    
.flex-center
  width 100%
  display flex
  justify-content center
  align-items center