*
  box-sizing border-box

@import 'normalize.css'
@import 'materialize.css'

nav
  padding 0 .75rem

.one-third-opacity
  opacity .5

// body
//   display flex
//   flex-direction column
//   width 100%
  
// nav
//   width 100%
//   height 50px
//   background-color black
//   display flex
//   justify-content space-between
//   .nav-left, .nav-right
//     margin 0 30px
//     color white
//     height 100%
//     display flex
//     align-items center
  


  


  